{% extends "base.html" %}
{% load static %}

{% block title %}The Band{% endblock %}

{% block content %}
<div id="logo-intro">
  <img src="{% static 'images/logo.png' %}" class="logo-intro-image" alt="">
</div>

<div class="hero">
  <img src="{% static 'images/band.jpg' %}" class="hero-image" alt="">
  <div class="transparent-gradient"></div>
  <img src="{% static 'images/logo.png' %}" class="hero-overlay" alt="">
</div>

<div class="content">
  <h1>SO MUCH TO SAY</h1>
  <img src="{% static 'images/sm2spic.jpeg' %}" class="album-cover" alt="Album Cover">
  <h3>OUT NOW</h3>
  <br>
  <button class="btn liquid" onclick="window.location.href='https://open.spotify.com/artist/6pXpXKPh2epNmSUHFVnB64'">
  <span>SPOTIFY</span>
</button>
  
  <div class="video-wrapper">
  <iframe width="560" height="315" src="https://www.youtube.com/embed/FAzaIb6wQ5E?si=m5cch7uk3BNsUcjv" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
</div>
  <div class="social-buttons"> 
    <button class="btn liquid" onclick="window.location.href='https://www.tiktok.com/@thephdband'">
      <span>TIK TOK</span></button>
    <button class="btn liquid" onclick="window.location.href='https://www.instagram.com/thephdband'">
      <span>INSTAGRAM</span></button>
    <button class="btn liquid" onclick="window.location.href='https://www.youtube.com/channel/UCG9HmgPP-b1Y6KsHiP2DIAQ'">
      <span>YOUTUBE</span></button>
    
    </div>
  </div>

<h1 class="tour-title">SHOWS</h1>

    <div class="tour-list">
        {% for tour in tours %}
            <div class="tour-row">
                <div class="tour-date">{{ tour.date }}</div>
                <div class="tour-location">{{ tour.venue }} | {{ tour.city }}, {{ tour.country }}</div>
                <div class="tour-button">
                    <a href="{{ tour.ticket_link }}" class="tour-btn">TICKETS</a>
                </div>
            </div>
        {% empty %}
            <p>No shows at the moment check in soon!.</p>
        {% endfor %}
    </div>
    <br>
    <div class="footer-note">
      <p>FOR INQUIRIES, PLEASE CONTACT: thephdbandexeter@gmail.com</p>
</div>

<script>
  window.addEventListener('load', () => {
    const intro = document.getElementById('logo-intro');

    setTimeout(() => {
      intro.remove();
    }, 2200); // must match animation timing
  });
</script>


  


{% endblock %}
