html, body {
  overflow-x: hidden;
  overflow-y: hidden;
}
body { margin: 0; }

.hero {
  width: 100%;
}

.hero-img {
  width: 100%;
  height: 80vh;              
  object-fit: cover;    
  display: block;
  
}

@media (max-width: 768px) {
  .hero-img { height:100%; }
}

.logo-bar {
  width: 100%;
  height: 15vh;
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: #0C1014;
  border-bottom: 1px solid #e5e5e5;
}


.logo-img {
  height: 20vh;
  width: auto;
}

.home-content {
  max-width: 900px;
  margin: 40px auto;
  padding: 0 20px;
}
